    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
    @import url('https://fonts.cdnfonts.com/css/astera');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Barlow';
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: #dde1e9;
    }

    /* *********** */
    /* ENCABEZADO - MENU */
    /* *********** */
    .contenedor-header {
        width: 100%;
        position: fixed;
        border-bottom: 1px solid #1f283e;
        background-color: rgba(0, 0, 0, .7);
        z-index: 99;
        padding: 0 20px;
    }

    .contenedor-header header {
        max-width: 1366px;
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:  0;
        color: #fff;
        font-family: 'ASTERA', sans-serif;
    }

    .txtRojo {
        color: #ff1133;
        font-family: 'Barlow'
    }

    .txtRojo3 {
        color: #ff1133;
        font-family: 'ASTERA', sans-serif;
    }

    .titulo {
        font-size: 60px;
    }

    .contenedor-header header nav a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        text-transform: uppercase;
    }

    .contenedor-header header nav a:hover {
        color: #ff1133;
    }

    .contenedor-header header .redes a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        padding: 5px 8px;
    }

    .contenedor-header header .redes a:hover {
        color: #ff1133;
    }

    .nav-responsive {
        display: none;
        font-size: 25px;
    }

    .logo {
        font-size: 10px;
        text-align: center;
        font-family: 'ASTERA', sans-serif;
    }

    /* *********** */
    /* SECCIÓN INICIO */
    /* *********** */
    .inicio {
        height: 100vh;
        background: linear-gradient(rgba(0, 1, 3, 0.5), rgba(0, 0, 0, .7)), url(img/fondo.jpg);
        background-size: cover;
        background-position: center center;
        color: #fff;
        position: relative;
    }

    .inicio .contenido-seccion {
        max-width: 1100px;
        margin: auto;
    }

    .inicio .info {
        width: fit-content;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .inicio .info h2 {
        font-size: 4rem;
        letter-spacing: 3px;
        font-family: 'ASTERA', sans-serif;
    }

    .inicio .info p {
        margin: 20px;
        color: #797e8e;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .inicio .info .btn-mas {
        background: #ff0000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 50%;
        font-size: 2rem;
    }

    .opciones {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
    }

    .inicio .opciones .opcion {
        border-top: 2px solid #797e8e;
        padding: 7px;
        color: #797e8e;
        margin: 0 30px;
    }

    /* *********** */
    /* SECCION NOSOTROS */
    /* *********** */
    .nosotros {
        max-width: 1100px;
        margin: auto;
        height: 100vh;
        background-color: #dde1e9;
        padding: 100px 20px;
    }

    .nosotros .fila {
        display: flex;
        align-items: center;
    }

    .nosotros .fila .col {
        width: 50%;
    }

    .nosotros .fila .col img {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }

    .nosotros .fila .col .contenedor-titulo {
        display: flex;
        align-items: center
    }

    .nosotros .fila .col .contenedor-titulo .numero {
        color: #ff1133;
        font-weight: bold;
        display: block;
        font-size: 5rem;
    }

    .nosotros .fila .col .contenedor-titulo .info {
        margin-left: 30px;
    }

    .nosotros .fila .col .contenedor-titulo .info .frase {
        color: #ff1133;
    }

    .nosotros .fila .col .contenedor-titulo .info h2 {
        font-size: 3rem;
    }

    .nosotros .fila .col p {
        margin-bottom: 10px;
        line-height: 28px;
    }

    .nosotros .fila .col .p-especial {
        font-weight: bold;
    }

    .nosotros hr {
        margin-bottom: 30px;
    }

    .nosotros .fila-nosotros {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nosotros .fila-nosotros .frase {
        font-size: 18px;
        font-weight: 600;
    }

    .nosotros .fila-nosotros h2 {
        font-size: 2.5rem;
    }

    .nosotros .fila-nosotros button {
        background-color: #ff1133;
        border: none;
        color: #fff;
        padding: 15px 35px;
        font-size: 14px;
        letter-spacing: 3px;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;
    }

    /* ********** */
    /* SERVICIOS */
    /* ********** */

    .servicios {
        color: #fff;
        position: relative;
    }

    .servicios .contenido-seccion {
        background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)), url(img/fondo-servicios.jpg);
        background-size: cover;
        background-position: center center;
        margin: auto;
        padding: 0 20px;
    }

    .servicios .contenido-seccion .fila {
        max-width: 1100px;
        margin: auto;
        display: flex;
        align-items: center;
        padding: 100px 0;
    }

    .servicios .contenido-seccion .fila .col {
        width: 50%;
    }

    .servicios .contenido-seccion .fila .col img {
        display: block;
        width: 50%;
        margin: auto;
    }

    .servicios .fila .col .contenedor-titulo {
        display: flex;
        align-items: center;
    }

    .servicios .fila .col .contenedor-titulo .numero {
        color: #ff1133;
        font-weight: bold;
        display: block;
        font-size: 5rem;
    }

    .servicios .fila .col .contenedor-titulo .info {
        margin-left: 30px;
    }

    .servicios .fila .col .contenedor-titulo .info .frase {
        color: #ff1133;
    }

    .servicios .fila .col .contenedor-titulo .info h2 {
        font-size: 3rem;
    }

    .servicios .fila .col p {
        margin-bottom: 10px;
        line-height: 28px;
    }

    .servicios .fila .col .p-especial {
        font-weight: bold;
    }

    .servicios .info-servicios {
        max-width: 800px;
        margin: auto;
    }

    .servicios .info-servicios table {
        text-align: center;
        background-color: #fff;
        color: #1f283e;
        border-collapse: collapse;
        position: relative;
        bottom: 100px;
    }

    .servicios .info-servicios table td {
        padding: 30px;
        border: 1px solid #dde1e9
    }

    .servicios .info-servicios table td i {
        color: #ff1133;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .servicios .info-servicios h3 {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .servicios .info-servicios p {
        line-height: 30px;
    }

    /* ********** */
    /* GALERIA */
    /* ********** */
    .galeria {
        color: #fff;
        background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)), url(img/fondo-galeria.jpg);
        background-size: cover;
        background-position: center center;
        padding: 100px 0;
    }

    #prev {
        margin: 5px;
    }

    .galeria .contenido-seccion {
        max-width: 1100px;
        margin: auto;
        padding: 0 20px;
    }

    .galeria .contenedor-titulo {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .galeria .contenedor-titulo .numero {
        color: #ff1133;
        font-weight: bold;
        display: block;
        font-size: 5rem;
    }

    .galeria .contenedor-titulo .info {
        margin-left: 30px;
    }

    .galeria .contenedor-titulo .info .frase {
        color: #ff1133;
    }

    .galeria .contenedor-titulo .info h2 {
        font-size: 3rem;
    }

    .galeria .fila {
        display: flex;
    }

    .galeria .fila .col img {
        width: 100%;
        display: block;
    }

    /* *********** */
    /* EQUIPO */
    /* *********** */
    .equipo {
        max-width: 1100px;
        margin: auto;
        padding-top: 95px;
        background-color: #dde1e9;
    }

    .equipo .contenedor-titulo {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto;
    }

    .equipo .contenedor-titulo .numero {
        color: #ff1133;
        font-weight: bold;
        display: block;
        font-size: 5rem;
    }

    .equipo .contenedor-titulo .info {
        margin-left: 30px;
    }

    .equipo .contenedor-titulo .info .frase {
        color: #ff1133;
    }

    .equipo .contenedor-titulo .info h2 {
        font-size: 3rem;
    }

    .equipo .fila {
        margin: 50px 0;
        display: flex;
        justify-content: space-around;
    }

    .equipo .fila .col {
        width: 25%;
    }

    .equipo .fila .col .card {
        text-align: center;
        padding: 20px;
        border: 5px solid #1f283e;
        border-radius: 10px;
        background: linear-gradient(#ff1133, #9a0e23);
        color: #fff;
    }

    .equipo .fila .col .card .card-img {
        width: 150px;
        height: 150px;
        margin: auto;
        overflow: hidden;
        border-radius: 50%;
    }

    .equipo .fila .col .card .card-img img {
        width: 100%;
        height: auto;
        display: block;
    }

    .equipo .fila .col .card .info h2 {
        font-size: 1.5rem;
        margin: 20px 0 10px;
    }

    .equipo .fila .col .card .info p {
        margin: 10px 0 20px;
    }

    .equipo .fila .col .card .info a {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        font-size: 20px;
    }

    /* *********** */
    /* CONTACTO */
    /* *********** */
    .contacto {
        color: #fff;
        background: linear-gradient(rgba(0, 14, 41, 0.6), rgba(0, 7, 78, 0.7)), url(img/fondo.jpg);
        background-size: cover;
        background-position: center center;
        padding: 100px 20px;

    }

    .contacto .contenido-seccion {
        max-width: 800px;
        margin: auto;
    }

    .contacto .contenedor-titulo {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: auto;
    }

    .contacto .contenedor-titulo .numero {
        color: #ff1133;
        font-weight: bold;
        display: block;
        font-size: 5rem;
    }

    .contacto .contenedor-titulo .info {
        margin-left: 30px;
    }

    .contacto .contenedor-titulo .info .frase {
        color: #ff1133;
    }

    .contacto .contenedor-titulo .info h2 {
        font-size: 3rem;
    }

    .contacto .fila {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;
    }

    .contacto .fila .col {
        width: 48%;
    }

    .contacto .fila input {
        width: 100%;
        padding: 15px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        outline: none;
    }

    .contacto textarea {
        display: block;
        margin-top: 20px;
        padding: 15px;
        font-size: 20px;
        outline: none;
        width: 100%;
        height: 200px;
    }

    .contacto button {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 30px;
        border: none;
        background-color: #ff1133;
        color: #fff;
        font-size: 18px;
        padding: 10px 25px;
        border-radius: 5px;
        cursor: pointer;
    }

    .contacto .fila-datos {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        font-size: 18px;
        text-align: center;
    }

    .contacto i {
        color: #ff1133;
        display: inline-block;
        margin-right: 10px;
    }

    /* *********** */
    /* FOOTER */
    /* *********** */
    footer {
        background-color: #151623;
        padding: 30px 0;
    }

    footer .info {
        display: flex;
        max-width: 1100px;
        margin: auto;
        justify-content: center;
        padding: 0 20px;
    }

    footer .info p {
        color: #797e8e;
    }

    footer .info a {
        text-decoration: none;
        color: #797e8e;
        display: inline-block;
        margin: 0 15px;
    }

    .what {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    .whatsapp-button {
        margin-top: 30px;
        display: inline-flex;
        align-items: center;
        color: #25D366;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 36px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .what:hover {
        text-decoration: none;
        color: rgb(255, 0, 0);
    }

    .txtRojo2:hover {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .txtRojo2 {
        text-decoration: none;
        color: #ff1133;
    }

    .whatsapp-button i {
        margin-right: 10px;
        font-size: 20px;
    }

    svg {
        width: 25px;
    }

    /* css slider */
    .slider {
        height: 100vh;
        margin-top: -50px;
        position: relative;
    }

    .slider .list .item {
        position: absolute;
        inset: 0 0 0 0;
        overflow: hidden;
        opacity: 0;
        transition: .5s;
    }

    .slider .list .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider .list .item::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to top, #000 40%, transparent);
    }

    .slider .list .item .content {
        position: absolute;
        left: 10%;
        top: 20%;
        width: 500px;
        max-width: 80%;
        z-index: 1;
    }

    .slider .list .item .content p:nth-child(1) {
        text-transform: uppercase;
        letter-spacing: 10px;
    }

    .slider .list .item .content h2 {
        font-size: 100px;
        margin: 0;
    }

    .slider .list .item.active {
        opacity: 1;
        z-index: 10;
    }

    @keyframes showContent {
        to {
            transform: translateY(0);
            filter: blur(0);
            opacity: 1;
        }
    }

    .slider .list .item.active p:nth-child(1),
    .slider .list .item.active h2,
    .slider .list .item.active p:nth-child(3) {
        transform: translateY(30px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent .5s .7s ease-in-out 1 forwards;
    }

    .slider .list .item.active h2 {
        animation-delay: 1s;
    }

    .slider .list .item.active p:nth-child(3) {
        animation-duration: 1.3s;
    }

    .arrows {
        position: absolute;
        top: 30%;
        right: 50px;
        z-index: 100;
    }

    .arrows button {
        background-color: #eee5;
        border: none;
        font-family: monospace;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: x-large;
        color: #eee;
        transition: .5s;
    }

    .arrows button:hover {
        background-color: #eee;
        color: black;
    }

    .thumbnail {
        position: absolute;
        bottom: 10px;
        z-index: 11;
        display: flex;
        gap: 10px;
        width: 100%;
        height: 250px;
        padding: 0 50px;
        box-sizing: border-box;
        overflow: auto;
        justify-content: center;
    }

    .thumbnail::-webkit-scrollbar {
        width: 0;
    }

    .thumbnail .item {
        width: 150px;
        height: 220px;
        filter: brightness(.5);
        transition: .5s;
        flex-shrink: 0;
    }

    .thumbnail .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .thumbnail .item.active {
        filter: brightness(1.5);
    }

    .thumbnail .item .content {
        position: absolute;
        inset: auto 10px 10px 10px;
    }

    /* Styles for zoom modal */
    .zoom-modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .zoom-modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 605px;
    }

    .zoom-close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .zoom-close:hover,
    .zoom-close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .zoomable {
        cursor: zoom-in;
    }

    .chatbot {
        position: fixed;
        bottom: -100%;
        right: 20px;
        width: 250px;
        background-color: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        transition: bottom 0.5s ease;
    }

    .chatbot-header {
        background-image: linear-gradient(to top, #000 80%, transparent);
        color: white;
        padding: 10px;
        text-align: center;
    }

    .chatbot-body {
        padding: 10px;
    }

    .chtb {
        color: #000;
    }

    #input-form {
        display: flex;
        align-items: center;
        border-top: 1px solid #eef1f5;
        padding: 10px;
    }

    #input-field {
        flex: 1;
        height: 40px;
        border: 1px solid #eef1f5;
        border-radius: 4px;
        padding: 0 10px;
        font-size: 14px;
        transition: border-color 0.3s;
        background: #ffffff;
        color: #333333;
        border: none;
    }

    .send-icon {
        margin-left: 10px;
        cursor: pointer;
    }

    #input-field:focus {
        border-color: #333333;
        outline: none;
    }

    #submit-button {
        background-color: transparent;
        border: none;
    }

    p[sentTime]:hover::after {
        content: attr(sentTime);
        position: absolute;
        top: -3px;
        font-size: 14px;
        color: gray;
    }

    .chatbot p[sentTime]:hover::after {
        left: 15px;
    }

    .user-message p[sentTime]:hover::after {
        right: 15px;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .robot-image {
        width: 30%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

    /* *********** */
    /* RESPONSIVE */
    /* *********** */
    @media only screen and (max-width: 900px) {

        header nav {
            position: initial;
            display: none;
            transform: translate(0);
        }

        header .redes {
            display: none;
        }

        .nav-responsive {
            display: block;
        }

        nav.responsive {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #151623;
            z-index: 99;
        }

        nav.responsive a {
            display: block;
            width: fit-content;
            margin: 10px auto;
            font-size: 30px;
        }

        .inicio .opciones {
            display: none;
        }

        .nosotros .fila {
            display: block;
        }

        .nosotros .fila .col {
            width: 100%;
            margin: auto;
        }

        .nosotros .fila .col img {
            max-width: 200px;
            display: block;
            margin: auto;
        }

        td {
            display: inline-table;
            margin-bottom: 10px;
        }

        i {
            margin-top: 10px;
        }

        .servicios .contenido-seccion .fila {
            display: block;
        }

        .servicios .contenido-seccion .fila .col {
            width: 100%;
        }

        .servicios .info-servicios {
            max-width: 300px;
            margin: auto;
            display: flex;
        }

        .comodidades .fila {
            display: block;
        }

        .comodidades .fila .col {
            width: 100%;
        }

        .comodidades .fila .col img {
            max-width: 200px;
        }

        .equipo .fila {
            display: block;
        }

        .equipo .fila .col {
            width: 100%;
            margin-bottom: 20px;
        }

        .equipo .fila .col .card-img {
            width: 100px;
            height: 100px;
        }

        .contacto .fila {
            display: block;
        }

        .contacto .fila .col {
            width: 100%;
            margin-bottom: 20px;
        }

        .contacto .fila-datos {
            display: block;
        }

        .contacto .fila-datos .col {
            margin-bottom: 20px;
        }

        footer .info {
            display: block;
            text-align: center;
        }

        footer .info p {
            margin-bottom: 10px;
        }

        .whatsapp-button {
            font-size: 24px;
            /* Reduce el tamaño de la fuente en pantallas más pequeñas */
            padding: 8px 16px;
            /* Ajusta el padding para que se vea mejor en pantallas más pequeñas */
        }

        .whatsapp-button i {
            font-size: 16px;
            /* Ajusta el tamaño del ícono en pantallas más pequeñas */
        }

        .thumbnail {
            justify-content: start;
            bottom: 160px;
        }

        .slider .list .item .content h2 {
            font-size: 60px;
        }

        .arrows {
            top: 10%;
        }

        .zoom-modal-content {
            width: 90%;
            max-width: 90%;
            margin-top: 50%;
            transform: translateY(-50%);
        }

        .zoom-close {
            top: 10px;
            right: 20px;
            font-size: 30px;
        }
    }